language: cpp
before_script:
- sudo apt-get install libboost-test-dev -y
script:
- cmake .
- cmake --build .
- cmake --build . --target test
- cmake --build . --target package
deploy:
  provider: script
  skip_cleanup: true
  script:
  - curl -T Lesson1-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -uSergeyTyurin:$BINTRAY_API_KEY "https://api.bintray.com/content/sergeytyurin/otus-cpp/lesson1/$TRAVIS_BUILD_NUMBER/Lesson1-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=trusty;deb_component=main;deb_architecture=amd64;publish=1"
